/* lg */ 
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  
  #header .navbar-nav.navbar-right >li {
    padding: 0 0px;
  }
}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {
    #header .navbar-nav.navbar-right li{
    padding: 0 0px;
  }

  #header .navbar-nav.navbar-right >li a {
    font-size: 13px;
  }

  .features-nav li{
    padding: 0 20px;
  }
  .features-nav .media-content h3{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .features-nav .media-content p{
    font-size: 14px;
    line-height: 24px;
  }

  #portfolio .portfolio-filter li a{
    font-size: 16px;
  }

  #portfolio .efffect h4{
    display: none;
  }

  .single-blog img{
    width: 120px;
  }

  .single-blog .blog-content{
    padding-left: 0;
  }

  .blog-content h2{
    font-size: 18px;
    margin-bottom: 15px;
  }

  ul.plan{
    margin-bottom: 30px;
  }

  .single-blog{
    margin-bottom: 30px;
  }

  .blog-content p{
    font-size: 14px;
  }

  .media.service-media{
    margin-bottom: 30px;
  }

  .page-wrapper.parallax-section{
    padding: 120px 0;
  }

  #team-member-carousel .carousel-indicators{
    bottom: -40px;
  }

.re_select h3 { font-size:18px;}

}

/* mobile landscape */

@media (min-width: 481px) and (max-width: 767px) {
  .single-blog{
      max-width: 50%;
      float: left;
      margin-bottom: 40px;
  }

  .features-nav .media-content h3{
    margin-bottom: 15px;
  }

  .features-nav .media-content p{
    font-size: 16px;
    line-height: 22px;
  }

  .media.service-media{
    margin-bottom: 0;
  }

  .service-media img{
    padding-right: 20px;
    height: 80px;
  }
}

/* xs */
@media (max-width: 767px) {

  .navbar-inverse .navbar-collapse{
    padding: 0;
    border: 0 none;
    background: #000;
  }

  .sidebar-inner {
    padding: 0 15px;
  }

.single.single-post #main,
.blog #main,
.archive #main,
.search-results #main,
.page.page-template-default #main {
  overflow: hidden;
}

  .navbar-nav{
    margin: 0;

  }
  .navbar-collapse{
    box-shadow: none;
  }

  #header .navbar-nav.navbar-right li{
    padding: 0;
  }

    #header .navbar-inverse .navbar-nav .dropdown-menu > li {
    padding: 0;
  }

    #header .navbar-inverse .navbar-nav .dropdown-menu > li {
      border-bottom: 0;
    }

  #header .navbar-inverse .navbar-nav .dropdown-menu > li a {
    border-bottom: 1px solid rgba(0,0,0,.02);
  }

  #header .navbar-nav.navbar-right li:first-child{
    padding: 0;
  }

  #header .navbar-nav.navbar-right >li:first-child a{
   border-top: 1px solid rgba(0,0,0,0.2)!important
  }

  #header .navbar-nav.navbar-right >li a,
  #header .navbar-inverse .navbar-nav .dropdown-menu > li > a{
    float: 500;
    background: #3D3B3E;
    padding: 0 20px!important;
    border: 0 none;
    border-bottom: 1px solid rgba(0,0,0,0.02)!important
  }

#header .navbar-inverse .navbar-nav  li.active > a,  
#header .navbar-inverse .navbar-nav  li.active > a:focus, 
#header .navbar-nav.navbar-right li > a:hover,
.navbar-inverse .navbar-nav > .open > a {
  background: rgba(61,59,62,.7);
  border:0 none;
  border-left: 3px solid #7AB700;
  border-bottom: 1px solid rgba(0,0,0,0.2)!important;
  box-shadow: none;
}

  #community-carousel .carousel-indicators{
    left: 50%;
    margin-left: 0;
  }

  #team-member-carousel .carousel-indicators{
    bottom: -40px;
  }

  .blog-content h2{
    font-size: 18px;
    margin-bottom: 15px;
  }

  .blog-content p{
    font-size: 14px;
  }

  #header .navbar-nav.navbar-right li a {
    padding: 0
  }

    blog-item ,
  .blog-single{
  display: block;
}

  /*dropdown*/
  .dropdown-menu {
    width: 100%;
  }

  .navbar-nav>li>.dropdown-menu{
    padding: 0;
    margin: 0;
    position: relative;
    display: block;
    border: 0 none;
    background: #000;
  }

  #header .navbar-inverse .navbar-nav .dropdown-menu > li > a{
    background: #3D3B3E;
    line-height: 46px;
    color: #fff;

  }

  #header .navbar-inverse .navbar-nav .dropdown-menu > li.active > a,
  #header .navbar-inverse .navbar-nav .dropdown-menu > li.active > a:focus,
  #header .navbar-inverse .navbar-nav .dropdown-menu > li > a:hover{
    background: rgba(61,59,62,.7);
    border:0 none;
    border-left: 2px solid #7AB700;
    box-shadow: none;

  }

  #header .navbar-inverse .navbar-nav .dropdown-menu > li > a{
    padding: 10px 0;
  }

  #home-carousel .carousel-inner h2 {
    font-size: 35px;
  }

  #home-carousel .carousel-inner .item {
    height: 515px;
  }

  #home-carousel .carousel-inner p {
    font-size: 14px;
  }

  #home-carousel .carousel-inner button {
    font-size: 16px;
    height: 45px;
    width: 150px;
  }

  #community-carousel .carousel-indicators {
    top:auto;
    left:45%;
    bottom: 10px;
    width: auto;
  }

  #community-carousel .carousel-indicators li {
    display: inline-block;
  }

  .media-content h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .media-content p {
    font-size: 14px;
    line-height: 25px;
  }

  .features-nav li {
    padding: 25px 30px;
  }

  .service-media {
    padding-left: 0;
    padding-top: 30px;
  }

  .service-media img {
    margin-right: 0 !important;
  }

  .service-media h4 {
    font-size: 20px;
    margin-top: 45px;
  }

  .service-media p {
    font-size: 15px;
    line-height: 25px;
  }

  #email-marketing-carousel .carousel-indicators, 
  #customer-satisfaction-carousel .carousel-indicators, 
  #support-carousel .carousel-indicators {
    left: 73%
  }

  #portfolio h2,
  #services h2.title {
    width: 133px;
    font-size: 25px
  }

  #portfolio .portfolio-filter {
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 0;
  }

  #portfolio .portfolio-filter li a {
    font-size: 15px;
    margin-bottom: 1px;
    width: auto;
    padding: 10px;
  }

  .portfolio-items > div{
    width: 49% !important;
  }

  .mask h3 {
    font-size: 18px;
  }

  .mask h4 {
    font-size: 14px
  }
  .promotion h2 {
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    padding-bottom: 12px
  }

  #blog .blog-heading, 
  #our-team h2 {
    font-size: 25px;
    width: 125px
  }

  .team-member {
    margin-bottom: 30px
  }


  .parallax-section{
    padding: 50px 0;
    background-position: 50% !important;
    background-attachment: inherit !important;
  }

  .single-blog .blog-content{
    padding-left: 0;
  }
/*
  .blog-content h2{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
*/
  .comments h2 {
    font-size: 17px;
    line-height: 28px;
  }

  .comments {
    padding-top: 0px;
  }

  #contact-wrap .social-icons a{
    display: inline-block;
    margin-bottom: 3px;
  }

  #footer p {
    float: none !important;
    text-align: center;
  }

  #gmap-wrap{
    display: none;
  }

  #contact-wrap{
    width: 100%;
    float: none;
  }

  /* blog responsive */

  .blog-item{
    display: block;
  }

  .entry-meta {
    padding-bottom: 20px;
    padding-top: 20px;
    width: auto;
    display: block;
    margin-bottom: 20px;
  }

  .entry-meta h4{
    margin-bottom: 0;
  }

  .entry-meta ul {
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
  }

  .entry-meta ul li {
    margin-right: 15px;
  }

  .entry-meta ul li:last-child {
    margin-right: 0;
  }

  .entry-meta ul li a{
    padding: 0;
  }
  .entry-meta hr{
    margin-top: 0;
  }

  .blog-item span{
    display: inline-block;
    margin: 0 5px;
  }

  .blog-content p{
    font-size: 16px;
    line-height: 24px;
  }

  .btn-readmore{
    margin-bottom: 25px;
  }

  .widget.search{
    margin-top: 40px;
  }

  .blog-content h3{
    margin-top: 15px;
  }

  .replay-box{
    margin-top: 40px;
  }

  .social-networks{
    margin-bottom: 20px;
    text-align: center;
  }

  .social-networks .pull-right{
    float: none!important;
    display: inline-block;
  }

  .cross-icon{
    text-align: right;
  }

  .cross-icon a{
    font-size: 22px;
  }

  .portfolio-prev,
  .portfolio-next{
    line-height: 26px;
    height: 30px;
    width: 30px;
    font-size: 16px;
  }

  .social-networks a i{
    font-size: 12px;
    height: 30px;
    width: 30px;
    padding: 0;
    line-height: 30px;
  }

  .single-carousel-right,
  .single-carousel-left{
    font-size: 14px;
    height: 40px;
    line-height: 40px;
  }

  .mask h4{
    padding-right:0;
    padding-left: 0;
  }

  #portfolio .project-info h2,
  #portfolio .project-details h2{
    width: auto;
  }

  ul.plan {
     margin-bottom: 30px;
   }
  
   .single-blog .pull-left{
    float: none !important;
    margin-right: 0px;
  }

  .blog-content h2 {
    margin-top: 10px;
  }
  
  #contact-wrap form {
  margin-right: 0;
  padding: 0 15px;
  margin-left: 0;
  } 
  
  #gmap-wrap {
    display: block;
  }

  #gmap-wrap {
    float: none;
    width: 100%;
    height: inherit;
  }
  
  #contact-wrap .social-icons {
    padding: 6% 15px;
  }
  
  .infowindow {
    width: 150px;
    height: 150px;
  }

  .infowindow h3{
    font-size: 18px;
  }

  #contact-wrap{
    min-height: 300px;
    height: auto;
  }

  #gmap-wrap,
  #gmap{
    height: 450px;
  }

  .page-wrapper.parallax-section{
    padding: 120px 0;
  }

  .features .item{
    height: 400px;
  }

  .features-nav{
    height: auto;
  }

  .features-nav li{
    height: auto;
  }

  .single-blog .single-blog-content{
    margin-top: 20px;
  }

  #header .navbar-inverse .navbar-nav ul.dropdown-menu > li.menu-item:hover{
    border-bottom: 0!important;
  }

}

/* XS Portrait */
@media ( max-width: 480px) {

  .blog-content p{
    font-size: 14px;
    line-height: 24px;
  }

  #header .navbar-inverse .navbar-nav .dropdown-menu > li {
    padding: 0;
  }

  #header .navbar-inverse .navbar-nav .dropdown-menu > li {
    border-bottom: 0 none;
  }

  .single-blog .single-blog-content{
    padding-left: 0;
  }

  .sidebar-inner {
    padding: 0 15px;
  }

  .media-content h4 {
    margin-top: 7%
  }

  .features-nav .media{
    text-align: center;
  }

  .features-nav .media .pull-left{
    float: none!important;
    clear: both;
    margin-bottom: 20px;
    margin-right: 0;
    padding: 0;
  }

  .service-media.media .pull-left{
    padding: 0;
  }

  .service-media.media .pull-left{
    height: 80px;
  }

  .features-nav .media .pull-left .media-object{
    margin: 0;
  }

  .features-nav .media-content h3,
  .service-media h3{
    font-size: 22px;
    margin-bottom: 15px;
  }

  .service-media h3{
    margin-bottom: 10px;
  }

  .features-nav .media-content p,
  .service-media p{
    font-size: 14px;
    line-height: 24px;
  }

  .service-media p{
    line-height: 20px;
  }

  .service-media.media .pull-left{
    margin-top: 0;
  }

  .service-media.media{
    margin-bottom: 40px;
    text-align: center;
  }

  .service-media {
    padding-top: 0;
  }

  .service-media img {
    margin-top:-28px
  }

  .service-media h4 {
    margin-top: 40px
  }

  .isotope, .isotope .isotope-item {
    width: 100%;
  }

  .mask h3 {
    font-size: 24px;
    margin-top: 25%;
  }

  .mask h4 {
    font-size: 20px;
  }

  #portfolio .portfolio-filter li a{
    width: auto;
  }

  .portfolio-items > div{
    width: 100% !important;
  }

  #carousel-blog .left {
    right: 45px;
  }

  .carousel-blog-control {
    font-size: 16px;
    height: 30px;
    width: 30px;
    line-height: 30px;
  }

  .testimonial h2{
    font-weight: 400;
    line-height: 30px;
  }

  .parallax-section h2.title{
  
  }

  .testimonial p{
    font-size: 13px;
  }

  .testimonial p span{
    font-size: 11px;
    display: block;
  }

  .post-comment .pull-left{
    float: none!important;
    clear: both;
    margin-bottom: 15px;
    display: inline-block;
  }

  .btn-reply{
    font-size: 10px;
  }

  .replay-box form span{
    margin: 0;
  }

  .replay-box form span input{
    width: 100%;
  }

  .portfolio-items .mask h3 {
    margin-top: 25px;
  }
  
  #team-member-carousel .col-xs-6{
    width: 100%;
  }
  
  .testimonial h2 {
    font-size: 18px;
  }
  
  .blog-content h2 {
    margin-top: 10px;
  }
  
  .single-blog .pull-left{
    width: 100%;
    float: none !important;
    margin-right: 0px;
  }
  
  .single-blog img {
    width: 100%;
  }
  
  ul.plan{
    margin-bottom: 30px;
  }
  
  #contact-wrap form {
  margin-right: 0;
  padding: 0 15px;
  margin-left: 0;
  } 
  
  #gmap-wrap {
    display: block;
  }

  #gmap-wrap {
    float: none;
    width: 100%;
    height: inherit;
  }
  
  #contact-wrap .social-icons a i {
  height: 38px;
  width: 38px;
  }
  
  #contact-wrap .social-icons {
    padding: 6% 15px;
  }

  .infowindow {
    width: 150px;
    height: 150px;
    left: 10%;
  } 

  .infowindow h3{
    font-size: 18px;
  } 

  .page-wrapper.parallax-section{
      padding: 100px 0;
  }

  #gmap-wrap,
  #gmap{
    height: 400px;
  }

  .blog-shortcode .single-blog:nth-last-child(2){
    margin-bottom: 60px;
  }
}
